@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h4>Number 1 Travel</h4>

<h3>Reviews</h3>
<p> Number 1 Travel was established in 2001. We have been featured on numerous publications including The WallStreet Journal, The Boston Globe and The New York Times.</p>
<p>We are a premier travel review site providing information and booking for individuals who are looking to fulfill their wanderlust.</p>
<p>We can help you find your next adventure!</p>
