@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h5>We can be reached below</h5>

<address>
    12345 Cleveland Cavaliers Blvd<br />
    Twinsburg, OH 44087<br />
    <abbr title="Phone">P:</abbr>
    867-5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Number1travel@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Number1travel@gmail.com</a><br/>
    <strong>Facebook:</strong> <a href="mailto:Number1travel@facebook.com">Number1travel@facebook.com</a><br />
    <strong>Twitter:</strong> <a href="mailto:Number1travel@twitter.com">Number1travel@twitter.com</a><br />

</address>