@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Number 1 Travel</h1>
    <p class="lead">The Number 1 Rated Travel Review Site in the World! We provide top notch service and will assist you in booking and transportation services.</p>
    <p><a class="btn btn-primary btn-lg" href=@Url.Action("Index", "Reviews")>Go to Reviews! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Reviews</h4>
        <p>
            We provide detailed reviews from world travelers with information on best restaraunts, activities, nightlife, tours and more!
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Reviews")>Detailed Reviews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>The Lowdown</h4>
        <p>We have years of industry experience and have been published in numerous publications that atest to this.</p> 
    </div>
    <div class="col-md-4">
        <h4>Tours</h4>
        <p>We also provide guided tours if you don't know where to start your adventure! Tours guides are bi-lingual and will be able to help with any concerns or questions</p>       
    </div>
</div>

